<h5><b>本当に退会しますか？</b></h5>
<p>
  退会すると会員情報や<br>
  これまでの購入履歴が閲覧できなくなります。<br>
  退会する場合は「退会する」をクリックしてください。
</p>

<div class="d-grid gap-2 d-md-block">
<%= link_to root_path do %>
<button class="btn btn-primary" type="button">退会しない</button>
<% end %>
<%= link_to root_path do %>
<button class="btn btn-danger" type="button">退会する</button>
<% end %>
</div>
